body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

a {
  color: #11999E;
}

a:hover{
  color: #66BFBF;
}

hr{
  border-top: 8px;
  border-style: dotted none none none;
  width: 7%;
  border-color: #b9d7ea;
}
.top-container {
  background-color: #f7fbfc;
  position: relative;
  padding-top: 150px;
}

.middle-container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bottom-container{
  background-color: #d0e8f2;
  height: 120px;
  padding-top: 70px;
}

.pro {
  text-decoration: underline;
}

.cloud-bottom {
  height: 6.25rem;
  position: absolute;
  bottom: 450px;
  left: 320px;
}

.cloud-top {
  position: absolute;
  height: 6.25rem;
  top: 3.125rem;
  right: 21.875rem;
}

.mountain {
  text-align: center;
  height: 350px;
}

.Coding {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.WebDev {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.sanchita-img {
  height: 200px;
}

.skill-row{
  margin: 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
  padding-bottom: 30px;
}

.profile{
  padding-bottom: 70px;
  width:30%;
  display: inline-block;
  line-height: 2;
}

.skills{
  padding-top: 50px;
  padding-bottom: 0;
}

.contact-me{
  padding-top: 50px;
  width: 30%;
  display: inline-block;
  line-height: 2;
}

.contact-h3{
  padding-bottom: 20px;
}

.contact-p{
  padding-bottom: 20px;
}

.footer-link{
  padding-left: 30px;
  padding-right: 30px;
}

.copyright{
  padding-top: 30px;
  color: #66BFBF;
  font-size: 15px;
}

.btn {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
   background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
   background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
   background-image: -o-linear-gradient(top, #66BFBF, #11999E);
   background-image: -webkit-gradient(to bottom, #66BFBF, #11999E);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 15px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 400;
   padding: 8px 25px;;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #337FED 0;
   background: #11999E;
   background-image: -webkit-linear-gradient(top, #11999E, #66BFBF);
   background-image: -moz-linear-gradient(top, #11999E, #66BFBF);
   background-image: -ms-linear-gradient(top, #11999E, #66BFBF);
   background-image: -o-linear-gradient(top, #11999E, #66BFBF);
   background-image: -webkit-gradient(to bottom, #11999E, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 15px;
   text-decoration: none;
}
